<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406775095844-qesoh9a7mdnn8us0eiqlcsgqb804607d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406775095844-qesoh9a7mdnn8us0eiqlcsgqb804607d</string>
	<key>API_KEY</key>
	<string>AIzaSyCkjqgkuzdZ2hV7EtE7VafiFomia53O2Qw</string>
	<key>GCM_SENDER_ID</key>
	<string>406775095844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.revdiet</string>
	<key>PROJECT_ID</key>
	<string>revdiet-962fe</string>
	<key>STORAGE_BUCKET</key>
	<string>revdiet-962fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406775095844:ios:a5c59430a5ea584f982eb1</string>
</dict>
</plist>